body {
    font-family: Arial, sans-serif;
}

a.top-navigation {
    font-weight: bold;
    font-size: 10pt;
}

.leading-space {
    height: 45pt;
}

table.sections {
    border-spacing: 0;
    border-collapse: collapse;
}

table.sections td {
    border-color: black;
    border-width: 1px;
    border-style: solid;

    width: 503.6pt;
    padding: 0 7.2px 0 7.2px;
}

table.sections.discussion td {
    min-width: 800pt;
}

.subheader {
    text-align: center;
    font-size: 10pt;

    margin: 0;
}

.epigraph {
    text-align: left;
    font-style: italic;

    width: 50%;
}

.epigraph .author {
    text-align: right;
}

.text {
    text-indent: 10pt;
}

.text, .footnote, .epigraph {
    font-size: 10pt;

    margin: 10pt 0 10pt 0;
}

.text.stick-to-next {
    margin: 0;
}

.stick-to-next + .text {
    margin: 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 14pt;
}

h1, h2 {
    margin-bottom: 0;
    margin-top: 10pt;
    text-align: center;
}

.footnote-ref, .footnote-head {
    color: red;
}

ol li {
    text-indent: 0;
}

.quote {
    font-style: italic;
}

span.highlight {
    background-color: light-green;
}

span.monospace {
    font-family: monospace;
}

.comment {
    padding-left: 25px;

    border-style: solid;
    border-color: black;
    border-width: 0 0 0 3px; 
}

.comment .header {
    margin: 4 0 4 0;
    font-family: monospace;
    font-size: 120%; 
    background-color: #eeeeee;
}

.comment.level1 {
    border: none;
    padding-left: 0;
}
